body {
  box-sizing: border-box;
  font-family: "Montserrat SemiBold", sans-serif;
  font-size: 14px;
}

dx-button {
  font-size: 20px;
}

.toolbar {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1976d2;
}

.toolbar_title {
  color: white;
  font-size: 30px;
  font-weight: 600;
}

.content {
  display: flex;
  margin: 82px auto 32px;
  padding: 0 16px;
  max-width: 90%;
  flex-direction: column;
}

.select-box {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.select-box__title {
  margin: 10px;
}

.select-scheme {
  padding-top: 20px;
}

.select-scheme_title {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 70px;
}

.select-scheme__img {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.selected-img {
  width: 100%; /* you can use % */
  height: auto;
}

.download-links {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.download-links_file {
  margin: 10px;
  border: 1px solid #333;
  padding: 5px 15px;
  text-decoration: none;
  color: #333;
}

  .download-links_file:hover {
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    opacity: 0.5;
  }

.buttons {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.buttons__scheme {
  margin: 10px;
}


.grid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.grid__btn {
  padding-top: 10px;
}

#dataGrid {
  height: 500px;
}
