<!-- * * * * * * * * * * * * * * * ng serve --open * * * * * * * * * * * * * * * * --s

<!-- Toolbar -->
<body>

  <div class="toolbar" role="banner">
    <span class="toolbar_title">Test task for automation-service</span>
  </div>

  <div class="content" role="main">

    <!-- SelectBox -->
    <div class="select-box">
      <div class="select-box__title">Выберите схему: </div>
      <dx-select-box class="select-box__select"
                     #selectBox
                     [items]="['None','Scheme 300', 'Scheme 400']"
                     (onValueChanged)="onValueChanged(selectBox.value)">
      </dx-select-box>
    </div>

    <div class="select-scheme">
      <div class="select-scheme_title">
        Выбранная схема: <span>{{selectBox.value}}</span>
      </div>

      <div class="select-scheme__img">

        <img class="selected-img"
             *ngIf="scheme300"
             src="assets/images/300.jpg"
             alt="scheme300" />

        <button class="select-scheme__btn-31FRC101"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31TI101"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31FRC99"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31TI99"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31FR104"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31TI133"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31PRC106"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31TIC230"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31TIC70"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31TIC66"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31TIC72"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-95TT200"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31TI112"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31TI114"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31FRC248"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31PRC120"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-80TI115"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-80FRCO114"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31TRC260"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31TI179"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31FRC179"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31PRC195"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31TRC183"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31FR194"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31TI187"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31TI197"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31PI201"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31FR200"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31FRC190"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31PRC157"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31PRC172"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31TI161"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-31FR166"
                *ngIf="scheme300"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>


        <img class="selected-img"
             *ngIf="scheme400"
             src="assets/images/400.jpg"
             alt="scheme400" />

        <button class="select-scheme__btn-40TI27 button-400"
                *ngIf="scheme400"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-40PR212 button-400"
                *ngIf="scheme400"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-40TI80 button-400"
                *ngIf="scheme400"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-40FRC74 button-400"
                *ngIf="scheme400"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-40TIC15 button-400"
                *ngIf="scheme400"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-40TFR73 button-400"
                *ngIf="scheme400"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-40TI72 button-400"
                *ngIf="scheme400"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-40FR60 button-400"
                *ngIf="scheme400"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-40FRC62 button-400"
                *ngIf="scheme400"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-40TI270 button-400"
                *ngIf="scheme400"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-91TRC54 button-400"
                *ngIf="scheme400"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-91FRC50 button-400"
                *ngIf="scheme400"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-40FR101 button-400"
                *ngIf="scheme400"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

        <button class="select-scheme__btn-40FR216 button-400"
                *ngIf="scheme400"
                onClick="javascript:window.open('https://vk.com', '_blank');"
                type="button"></button>

      </div>
    </div>

    <div class="buttons">
      <div class="buttons__scheme">
        <dx-button text="Входные данные"
                   (onClick)="showVhodGrid()">
        </dx-button>
      </div>
      <div class="buttons__scheme">
        <dx-button text="Выходные данные"
                   (onClick)="showVihodGrid()">
        </dx-button>
      </div>
    </div>

    <div class="grid">

      <dx-data-grid id="dataGrid"
                    *ngIf="vhodGrid"
                    [dataSource]="inputData"
                    [allowColumnReordering]="true"
                    [allowColumnResizing]="true"
                    [hoverStateEnabled]="true"
                    [columnWidth]="100"
                    [showBorders]="true">

        <dxo-editing mode="cell"
                     [allowUpdating]="true">
        </dxo-editing>

        <dxi-column caption="№"
                    dataField="ID"
                    [groupIndex]="0">
        </dxi-column>

        <dxi-column caption="Модель"
                    dataField="Model"
                    [width]="200">
        </dxi-column>

        <dxi-column caption="Название"
                    dataField="Name"
                    [width]="300">
        </dxi-column>

        <dxi-column caption="Описание"
                    dataField="Description"
                    [width]="350">
        </dxi-column>

        <dxi-column caption="Секция С-300">
          <dxi-column caption="PI"
                      dataField="Pi300"></dxi-column>
          <dxi-column caption="Модель"
                      [dataField]=model300></dxi-column>
        </dxi-column>

        <dxi-column caption="Секция С-400">
          <dxi-column caption="PI"
                      dataField="Pi400"></dxi-column>
          <dxi-column caption="Модель"
                      [dataField]=model400></dxi-column>
        </dxi-column>

        <dxo-export [enabled]="true"></dxo-export>

        <dxo-paging [enabled]="false"></dxo-paging>

        <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>

      </dx-data-grid>

      <div class="grid__btn"
           *ngIf="vhodGrid">
        <dx-button text="Заполнить в модель"
                   (onClick)=fillModel()>
        </dx-button>
      </div>

      <dx-data-grid *ngIf="vihodGrid"
                    id="dataGrid"
                    [dataSource]="outputData"
                    [allowColumnReordering]="true"
                    [allowColumnResizing]="true"
                    [hoverStateEnabled]="true"
                    [columnWidth]="100"
                    [showBorders]="true">

        <dxo-editing mode="cell"
                     [allowUpdating]="true">
        </dxo-editing>

        <dxi-column caption="№"
                    dataField="ID"
                    width="50"
                    [groupIndex]="0"></dxi-column>
        <dxi-column caption="Продукт"
                    dataField="Product"
                    width="220"></dxi-column>

        <dxi-column caption="Секция С-300">
          <dxi-column caption="Расход"
                      dataField="Consumption300"></dxi-column>
          <dxi-column caption=""
                      [dataField]=consumptionValue300></dxi-column>
          <dxi-column caption="Лаб. измерения"
                      dataField="LabDimension300"
                      width="200"></dxi-column>
          <dxi-column caption=""
                      [dataField]=labDimensionValue300></dxi-column>
        </dxi-column>

        <dxi-column caption="Секция С-400">
          <dxi-column caption="Расход"
                      dataField="Consumption400"></dxi-column>
          <dxi-column caption=""
                      [dataField]=consumptionValue400></dxi-column>
          <dxi-column caption="Лаб. измерения"
                      dataField="LabDimension400"
                      width="200"></dxi-column>
          <dxi-column caption=""
                      [dataField]=labDimensionValue400></dxi-column>
        </dxi-column>

        <dxo-export [enabled]="true"></dxo-export>

        <dxo-paging [enabled]="false"></dxo-paging>

        <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>

      </dx-data-grid>

      <div class="grid__btn"
           *ngIf="vihodGrid">
        <dx-button text="Заполнить таблицу"
                   (onClick)=fillGrid()>
        </dx-button>
      </div>

    </div>

    <div class="download-links">
      <a class="download-links_file"
         target="_self"
         href="assets/donwload/Отчет по точности.pdf"
         download="Отчет по точности.pdf">Скачать отчет по точночти в PDF</a>
      <a class="download-links_file"
         target="_self"
         href="assets/donwload/Отчет по точности.xlsx"
         download="Отчет по точности.xlsx">Скачать отчет по точночти в EXCEL</a>
    </div>
  </div>
</body>

<router-outlet></router-outlet>
