<!-- * * * * * * * * * * * * * * * ng serve --open * * * * * * * * * * * * * * * * -->

<style>
  * {
    font-family: "Montserrat SemiBold", sans-serif;
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
  }

  .toolbar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1976d2;
  }

  .toolbar_title {
    color: white;
    font-size: 24px;
    font-weight: 600;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 80%;
    flex-direction: column;
    align-items: center;
  }

  .grid {
    width: 80%;
  }

  img {
    width: 100%;
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="toolbar_title">Test task for automation-service</span>
</div>

<div class="content" role="main">

  <!-- SelectBox -->
  <div class="Select-Box">
    <dx-select-box class="Select-Box__Select"
                   #selectBox
                   [items]="['None','Scheme 300', 'Scheme 400']"
                   (onValueChanged)="onValueChanged(selectBox.value)">
    </dx-select-box>
  </div>
  <div class="Select-scheme">
    Selected scheme is <span>{{selectBox.value}}</span>
    <div class="Select-scheme__img">
      <img *ngIf="scheme300" src="assets/images/300.jpg" alt="scheme300" />
      <img *ngIf="scheme400" src="assets/images/400.jpg" alt="scheme400" />
    </div>

  </div>

  <div>
    <div>
      <a target="_self" href="assets/donwload/Отчет по точности.pdf" download="Отчет по точности.pdf">Скачать отчет по точночти в PDF</a>
    </div>
    <div>
      <a target="_self" href="assets/donwload/Отчет по точности.xlsx" download="Отчет по точности.xlsx">Скачать отчет по точночти в EXCEL</a>
    </div>
  </div>

  <div class="Buttons-field">
    <span class="Buttons-field__button-scheme1">
      <dx-button text="Входные данные"
                 (onClick)="showVhodGrid()">
      </dx-button>
    </span>
    <span class="Buttons-field__button-scheme1">
      <dx-button text="Выходные данные"
                 (onClick)="showVihodGrid()">
      </dx-button>
    </span>
  </div>

  <div class="grid">
    <dx-data-grid *ngIf="vhodGrid"
                  id="dataGrid"
                  [dataSource]="inputData"
                  [allowColumnReordering]="true"
                  [allowColumnResizing]="true"
                  [hoverStateEnabled]="true"
                  [columnWidth]="100"
                  [showBorders]="true">

      <dxo-editing mode="cell"
                   [allowUpdating]="true">
      </dxo-editing>

      <dxi-column caption="№"
                  dataField="ID"
                  [groupIndex]="0">
      </dxi-column>

      <dxi-column caption="Модель"
                  dataField="Model"
                  [width]="200">
      </dxi-column>

      <dxi-column caption="Название"
                  dataField="Name"
                  [width]="300">
      </dxi-column>

      <dxi-column caption="Описание"
                  dataField="Description"
                  [width]="350">
      </dxi-column>

      <dxi-column caption="Секция С-300">
        <dxi-column caption="PI" dataField="Pi300"></dxi-column>
        <dxi-column caption="Модель"></dxi-column>
      </dxi-column>

      <dxi-column caption="Секция С-400">
        <dxi-column caption="PI" dataField="Pi400"></dxi-column>
        <dxi-column caption="Модель"></dxi-column>
      </dxi-column>

      <dxo-export [enabled]="true"></dxo-export>

      <dxo-paging [enabled]="false"></dxo-paging>

      <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>

    </dx-data-grid>

    <dx-data-grid *ngIf="vihodGrid"
                  id="dataGrid"
                  [dataSource]="outputData"
                  [allowColumnReordering]="true"
                  [allowColumnResizing]="true"
                  [hoverStateEnabled]="true"
                  [columnWidth]="100"
                  [showBorders]="true">

      <dxo-editing mode="cell"
                   [allowUpdating]="true">
      </dxo-editing>

      <dxi-column caption="№" dataField="ID" width="50" [groupIndex]="0"></dxi-column>
      <dxi-column caption="Продукт" dataField="Product" width="220"></dxi-column>

      <dxi-column caption="Секция С-300">
        <dxi-column caption="Расход" dataField="Consumption300"></dxi-column>
        <dxi-column caption="" dataField="ConsumptionValue300"></dxi-column>
        <dxi-column caption="Лаб. измерения" dataField="LabDimension300" width="200"></dxi-column>
        <dxi-column caption="" dataField="LabDimensionValue300"></dxi-column>
      </dxi-column>

      <dxi-column caption="Секция С-400">
        <dxi-column caption="Расход" dataField="Consumption400"></dxi-column>
        <dxi-column caption="" dataField="ConsumptionValue400"></dxi-column>
        <dxi-column caption="Лаб. измерения" dataField="LabDimension400" width="200"></dxi-column>
        <dxi-column caption="" dataField="LabDimensionValue400"></dxi-column>
      </dxi-column>


      <dxo-export [enabled]="true"></dxo-export>

      <dxo-paging [enabled]="false"></dxo-paging>

      <dxo-scrolling columnRenderingMode="virtual"></dxo-scrolling>

    </dx-data-grid>
  </div>
</div>

<router-outlet></router-outlet>
